In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
heart = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [31]:
heart.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [32]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [33]:
anemia = heart[heart['anaemia'] == 1]
anemia.count()

age                         129
anaemia                     129
creatinine_phosphokinase    129
diabetes                    129
ejection_fraction           129
high_blood_pressure         129
platelets                   129
serum_creatinine            129
serum_sodium                129
sex                         129
smoking                     129
time                        129
DEATH_EVENT                 129
dtype: int64

In [34]:
no_anemia = heart[heart['anaemia'] == 0]
no_anemia.count()

age                         170
anaemia                     170
creatinine_phosphokinase    170
diabetes                    170
ejection_fraction           170
high_blood_pressure         170
platelets                   170
serum_creatinine            170
serum_sodium                170
sex                         170
smoking                     170
time                        170
DEATH_EVENT                 170
dtype: int64

In [35]:
heart.count()

age                         299
anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
time                        299
DEATH_EVENT                 299
dtype: int64

In [38]:
men = heart[heart['sex'] == 1]
women = heart[heart['sex'] == 0]